{
  "presets": [["es2015", { "modules": false }]],
  "plugins": [
    ["component", 
      {
         "libraryName": "farmlay-ui",
         "styleLibraryName": "~node_modules/bes-ui/static"
      }
    ]
  ]
}